#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin-bottom: 2rem;
}

.inputs-label {
  font-weight: bold;
}

.locations {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 0.5rem 1rem;
}

.connections {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr;
  gap: 0.5rem 1rem;
}