#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin-bottom: 2rem;
}

.inputs-label {
  font-weight: bold;
}

.locations {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 0.5rem 1rem;
}

.connections {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr;
  gap: 0.5rem 1rem;
  align-content: start;
}

.polyline-label {
  background: white;
  padding: 0 4px;
  border: none;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  font-size: 12px;
  box-shadow: none;
}