#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin-bottom: 2rem;
}

.inputs-label {
  font-weight: bold;
}

.locations {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 0.5rem 1rem;
  align-content: start;
}

.connections {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr;
  gap: 0.5rem 1rem;
  align-content: start;
}

.polyline-label {
  display: inline-block;
  padding: 0px 4px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  white-space: nowrap;
  transform: translate(-50%, -50%); /* center over anchor */
  position: relative;
  text-align: center;
}

.polyline-label :first-child {
  font-weight: bold;
}